In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
df=pd.read_csv('creditcard.csv')
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [7]:
df.duplicated().sum()

1081

In [9]:
#separating data for analysis
legit=df[df.Class == 0] #Normal Transactions
fraud=df[df.Class == 1] #Fradulent Transactions

In [11]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [12]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

# Compare the values for both transcations

In [13]:
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

 Under Sampling - >
 
Build a sample dataset containing similar distributions of normal transactions and fraudulent Transactions

In [14]:
legit_sample=legit.sample(n=492)

In [15]:
new_df=pd.concat([legit_sample,fraud] , axis=0)

In [16]:
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
36477,38555.0,-0.141075,0.037933,0.721146,-2.350639,0.289419,-0.525976,0.688396,-0.281956,1.326901,...,0.150815,0.745510,-0.305704,-0.737138,0.036100,-0.552743,0.036201,-0.086753,34.99,0
78969,57795.0,1.257376,-0.948811,0.781846,-0.764681,-1.132499,0.337499,-1.121711,0.133929,-0.458224,...,0.352849,0.975189,-0.283166,-0.414267,0.548748,-0.022135,0.040320,0.019579,70.00,0
262055,160291.0,1.555758,-1.452335,1.083907,1.156584,-2.305628,-0.057251,-1.384707,0.265286,2.577532,...,0.209233,0.836054,0.168395,1.021334,-0.577322,0.668563,0.014198,-0.003573,150.00,0
201430,133884.0,-2.086245,-2.750885,-0.522955,-0.263921,0.866263,1.980201,2.151528,0.183347,-0.079664,...,0.511533,0.349630,1.780317,-0.790735,-0.484955,-0.093192,-0.213578,0.029655,680.46,0
808,611.0,1.176115,0.703281,0.087819,2.437004,0.405933,-0.363041,0.509225,-0.156576,-1.090174,...,0.018066,0.064839,-0.081671,0.091397,0.662273,0.096627,-0.022965,0.008109,8.38,0

In [17]:
new_df.shape

(984, 31)

In [18]:
new_df['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [19]:
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,91345.475610,0.132609,0.067833,-0.018847,0.083160,-0.011932,0.009629,-0.036820,0.010295,0.020251,...,0.048679,0.001951,-0.009236,-0.056423,0.000579,0.006999,0.036123,0.008173,-0.000271,88.327378
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

# Splitting of Data

In [20]:
X = new_df.drop(columns = 'Class' ,  axis=1)
Y = new_df['Class']

In [22]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
36477    38555.0 -0.141075  0.037933  0.721146 -2.350639  0.289419 -0.525976
78969    57795.0  1.257376 -0.948811  0.781846 -0.764681 -1.132499  0.337499
262055  160291.0  1.555758 -1.452335  1.083907  1.156584 -2.305628 -0.057251
201430  133884.0 -2.086245 -2.750885 -0.522955 -0.263921  0.866263  1.980201
808        611.0  1.176115  0.703281  0.087819  2.437004  0.405933 -0.363041
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
36477   0.688396 -0.281956  1.326901  ...  0.203334  0.150815  0.745510
78969  -1.121711  0.133929 -0.458224  ...  0.297637  0.352849  0.975189
262055 -1.384707  0.265286  2.577532  ...  0.014773  0.209233  0.836054
201430  2.151528  0.183347 -0.079664  ...  1.721675  0.511533  0.349630
808     0.509225 -0.156576 -1.090174  ... -0.173480  0.018066  0.064839
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
36477  -0.305704 -0.737138  0.036100 -0.552743  0.036201 -0.086753   34.99
78969  -0.283166 -0.414267  0.548748 -0.022135  0.040320  0.019579   70.00
262055  0.168395  1.021334 -0.577322  0.668563  0.014198 -0.003573  150.00
201430  1.780317 -0.790735 -0.484955 -0.093192 -0.213578  0.029655  680.46
808    -0.081671  0.091397  0.662273  0.096627 -0.022965  0.008109    8.38
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [23]:
print(Y)

36477     0
78969     0
262055    0
201430    0
808       0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [24]:
X_train , X_test , Y_train , Y_test = train_test_split(X , Y , test_size=0.2 , stratify=Y , random_state= 2)

In [25]:
print(X.shape , X_train.shape , X_test.shape)

(984, 30) (787, 30) (197, 30)

# Model Training

In [26]:
model = LogisticRegression()

In [27]:
model.fit(X_train,Y_train)

LogisticRegression()

# Accuracy Score

In [29]:
#Accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction , Y_train)

In [30]:
print("Accuracy on Training Data : ", training_data_accuracy)

Accuracy on Training Data :  0.9466327827191868

In [33]:
#Accuracy on Test Data
X_test_prediction = model.predict(X_test)
test_data_acuracy = accuracy_score(X_test_prediction , Y_test)

In [34]:
print("Accuracy on Testing Data : ", test_data_acuracy)

Accuracy on Testing Data :  0.9289340101522843